@import "tailwindcss";

@theme {
  --animate-fade-in-down: fade-in-down 0.3s ease-out forwards;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translate(-50%, -10px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
